<footer class="footer text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-12 col-md-4">
                <h6 class="text-uppercase mb-2">Contact Us</h6>
                <ul class="mb-4">
                    <li><a href="#">Tel: (229) 61 00 87 69</a></li>
                    <li><a href="#">E-mail: titigwetienglishclub@gmail.com</a></li>
                    <li><a href="#">Address : PO BOX 526, Abomey-Calavi University, Benin</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-12 col-md-4">
                <h6 class="text-uppercase mb-2">TEC around the web</h6>
                <ul class="list-inline mb-4">
                  <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/titigwetic" target="_blank">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/titigweti.english" target="_blank">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.youtube.com/channel/UCl3AZKsp1RbWIeYMj6ILYRA" target="_blank">
                        <i class="fa fa-youtube-square" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-lg-4 col-12 col-md-4">
                <h6 class="text-uppercase mb-2">Useful Links</h6>
                <ul class="mb-4">
                    <li><a class="outside_links" href="https://uac.bj/">University of Abomey-Calavi</a></li>
                    <li><a class="outside_links" href="https://bj.usembassy.gov/">U.S. Embassy Cotonou</a></li>
                </ul>
            </div>
        </div>
        <small>Copyright &copy; Titigweti English CLub | All Rights Reserved.</small>
    </div>
</footer>
