<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}

    <body class="bg-light">

        <!-- <h2 class="text-uppercase mb-2" style="text-align: center">
            <text style="font-family: Georgia, serif; font-size: 25px">
                {{ site.title }}
            </text>
        </h2> -->

        {%- include header.html -%}

        <main>
            {{ content }}
       </main>

        {%- include footer.html -%}
    </body>

</html>
